<?php include "header.php"; 

if ($_SESSION['adminrole'] != 'Superadmin') {
	echo "<script>
		Swal.fire({
			icon: 'info',
			title: 'Fail',
			text: 'You dont have access to this page.',
			confirmButtonText: 'Ok',
			confirmButtonColor: 'green',
			}).then((result) => {
			if (result.isConfirmed) {
				location.href='home.php';
			}
		})
	</script>";
	exit();
}

?>

<title>Create New Admin - NACOS</title>
<style>
.fas .fab .far {
       font-size: 0.8rem;
}
</style>

<?php include "sidenav.php"; ?>
		<div class="col-md-9">
			<div class="card card-cascade narrower">
				<!-- Card header -->
				<div class="view view-cascade gradient-card-header success-color">
					<!-- Title -->
					<h3 class="card-header-title"><i class="fas fa-shield"></i> Create New Admin</h3>
				</div>
				<div class="card-body card-body-cascade">
					<div class="container">
						<form class="container md-form" id="newadmin" enctype="multipart/form-data">
							<div class="form-group" align="center">
								<p class="alert alert-success" id="errorshow"></p>
							</div>
							<div class="md-form">
								<i class="fas fa-user prefix"></i>
						        <input type="text" id="username" name="username" class="form-control">
						        <label for="username">Username</label>
						    </div>
						    <div class="md-form">
								<i class="fas fa-envelope prefix"></i>
						        <input type="email" id="email" name="email" class="form-control">
						        <label for="email">Email Address</label>
						    </div>
						    <div class="md-form form-group form-inline-lg">
			    				<span class='mr-3 fas fa-cubes prefix'></span>
			    				<select style="width: 85%;" class="ml-5 mdb-select dropdown-success darken-4 colorful-select initialized md-form" name="level" id="level" required>
									<option disabled selected>--Select Level--</option>
						        	<option value="Superadmin">Super Admin</option>
						        	<option value="finsec">Financial Secretary</option>
						        	<option value="Ict-Director">ICT Director</option>
						        	<option value="other">Other</option>
								</select>
			    			</div>
			    			<div class="md-form">
								<i class="fas fa-phone prefix"></i>
						        <input type="text" id="phone" name="phone" class="form-control">
						        <label for="phone">Phone Number</label>
						    </div>
						    <div class="md-form pb-3">
						      	<i class="fas fa-lock prefix"></i>
						        <input type="password" id="password" name="password" class="form-control">
						        <label for="password">Your password</label>
						        <p class="text-left mt-2 pt-2"><span style="cursor: pointer;" id="passText">Show Password <span class= 'fa fa-eye'></span></span></p>
						    </div>
						    <center><div class="text-center align-items-center justify-content-center col-md-5 mb-3">
						        <button type="submit" id="btnUpload" class="btn btn-md btn-block peach-gradient btn-rounded z-depth-1a">Create Admin</button>
						    </div></center>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>

<?php include "footer.php"; ?>

<script>
	$(document).ready(function() {
		$('.mdb-select').materialSelect();
	});

	$(document).ready(function(){
    	$("#errorshow").hide();
    });

    function viewPassword(){
        var password = document.getElementById('password');
        if (password.type == 'password') {
            password.type = 'text';
            $('#passText').html("Hide Password <span class= 'fa fa-eye'></span>");
        }else{
        	password.type = 'password';
            $('#passText').html("Show Password <span class= 'fa fa-eye-slash'></span>");
        }
    }

    $('#passText').click(function(){
        viewPassword();
    });

    $("form#newadmin").submit(function(e) {
	    e.preventDefault();    
	    var formData = new FormData(this);
	    $.ajax({
		    url: 'newadminauth.php',
		    type: 'POST',
		    data: formData,
		    beforeSend:function(){
				$('#btnUpload').html("Creating Admin <span class='fas fa-1x fa-cog fa-spin'></span>");
			},
			success: function (data) {
				if (data == "done") {
				    $("#errorshow").show();
				    $("#errorshow").html("New Admin Added Successfully <br> Please wait. <span class='fas fa-1x fa-cog fa-spin'></span>");
				    $('#btnUpload').html("Done!!");
				    setTimeout(' window.location.href = "./home.php"; ', 3000);
				}else{
					$("#errorshow").show();
					$("#errorshow").html(data);
				    $('#btnUpload').html("Create Admin");
				}   
			},
			cache: false,
			error:function(){
			  	$("#errorshow").show();
				$('#errorshow').html("An error has occured!!");
				$('#btnUpload').html("Create Admin");
			},
			contentType: false,
			processData: false
		});
	});
</script>