<?php 

include "header.php"; 

if ($_SESSION['admin']) {
	header("Location: ./home");
	exit();
}
?>

<title>Reset Student Password</title>

<?php include "sidenav.php"; ?>
		<div class="col-md-9">
			<div class="card card-cascade narrower">
				<!-- Card header -->
				<div class="view view-cascade gradient-card-header success-color">
					<!-- Title -->
					<h3 class="card-header-title"><i class="fas fa-list"></i> Student list</h3>
				</div>
				<div class="card-body card-body-cascade">
					<div class="table-wrapper table-responsive">
						<div class="form-group" align="center">
							<p class="alert alert-success" id="errorshow"></p>
						</div>
						<table class="table align-middle table-responsive-lg table-nowrap table-striped table-hover" id="resetpass">
							<thead class="table-dark">
								<tr>
									<th scope="col">S/N</th>
									<th scope="col">Full Name</th>
									<th scope="col">Username</th>
									<th scope="col">Matric No.</th>
									<th scope="col">Email</th>
									<th scope="col">Gender</th>
									<th scope="col">Level</th>
									<th scope="col" class="text-center">Action</th>
								</tr>
							</thead>
							<?php
				                $accStatus = 1;
			                    $sql = $db_conn->prepare("SELECT * FROM students ORDER BY surname ASC");
			                    $sql->execute();
				                $b = 1;
			                ?>
							<tbody>
								<div class="text-center" align="center"><?php if ($sql->rowCount() < 1) { echo "<td class='text-center'>No data available</td>"; }else{
									while ($row = $sql->fetch(PDO::FETCH_ASSOC)): ?></div>
								<tr>
									<td class="text-left"><?php echo $b; ?></td>
									<td class="text-left"><?php echo $row['surname']." ".$row['lastname']; ?></td>
			                        <td class="text-left"><?php echo $row['username']; ?></td>
			                        <td class="text-left"><?php echo $row['mat_no']; ?></td>
			                        <td class="text-left"><?php echo $row['email']; ?></td>
			                        <td class="text-left"><?php echo $row['gender']; ?></td>
			                        <td class="text-left"><?php echo $row['level']; ?></td>
			                        <td class="text-left"><button type="button" class='btn btn-rounded btn-default btn-sm' id='btnReset_<?php echo $row['main_id']; ?>'> Reset</button></td>
<!-- ================================================================================================================================================ -->
			                        <script>
							        	function Reset_<?php echo $row['main_id']; ?>(){
										    var main_id = "<?php echo $row['main_id']; ?>";
										    $.ajax({
										    type:'POST',
										    url:'../auth/resetpass.php',
										    data:{'main_id':main_id},
										    beforeSend:function(){
										    $('#btnReset_<?php echo $row['main_id']; ?>').html("Resetting <span class='fa fa-cog fa-spin'></span>");
										    },
										    success:function(data){
										    if (data == "done") {
										    	$("#errorshow").show();
										    	$("#errorshow").html("Successful");
										      	setTimeout(' window.location.href = "./home"; ',5000);
										        $('#btnReset_<?php echo $row['main_id']; ?>').html("Done <span class='fa fa-check'></span>");
										    }else{
										    	$("#errorshow").show();
										    	$("#errorshow").html(data);
										        $('#btnReset_<?php echo $row['main_id']; ?>').html("Reset");
										    }
										    },
										    error:function(){
										    	$("#errorshow").show();
										    	$("#errorshow").html("An error occured. <br> Try again.");
										    	$('#btnReset_<?php echo $row['main_id']; ?>').html("Reset");
										    }
										    });
									  	}
										 
										$('#btnReset_<?php echo $row['main_id']; ?>').click(function(){
										   Reset_<?php echo $row['main_id']; ?>();
										});
										//End Revoke
							        </script>
									<?php  $b++; endwhile; } ?>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<!-- Second Colomn End -->
		</div>
	</div>
</main>

<?php include "footer.php"; ?>
<script>
	$(document).ready(function(){
    	$("#errorshow").hide();
    });

  $(document).ready(function () {
      $('#resetpass').DataTable({
        "pagingType": 'simple_numbers',
          "lengthChange": true,
          "lengthMenu": [[10, 25, 50, -1],[10, 15, 25, "All"]],
      });

      $('#resetpass_wrapper').find('label').each(function () {
          $(this).parent().append($(this).children());
      });

      $('#resetpass_wrapper .dataTables_filter').find('input').each(function () {
          $('input').attr("placeholder", "Search");
          $('input').removeClass('form-control-sm');
          $('input').addClass('form-control');
      });

      $('#resetpass_wrapper .resetpass_length').addClass('d-flex flex-row');
      $('#resetpass_wrapper .dataTables_filter').addClass('md-form');
      $('#resetpass_wrapper .dataTables_filter').addClass('md-form');
      $('#resetpass_wrapper .dataTables_filter').find('label').remove();
  });
 
 $(document).ready(function () {
   	$('select[name="resetpass_length"]').addClass('browser-default');
});
</script>	   