{% extends 'student/main.html' %}

{% load static %}

{% block content %}

<title> {{ student }} || Change Password</title>
<style>
	#edit .fas {
		font-size: 1.2rem;
	}
</style>

<main class="my-4">
	<section>
		<div class="container col-md-7">
			<div class="my-5">
				<div class="card card-cascade narrower">
					<!-- Card header -->
					<div class="view view-cascade gradient-card-header success-color">
						<!-- Title -->
						<h3 class="card-header-title"><i class="fas fa-edit"></i> Change Password</h3>
					</div>
					<div class="card-body card-body-cascade">
						<form class="container" id="" method="POST" action="">
							{% csrf_token %}
							<div class="form-group" align="center">
								<p class="alert alert-primary" id="errorshow"></p>
							</div>
							<div class="md-form pb-3">
					        	<i class="fas fa-lock prefix"></i>
								{{ form.old_password }}
					            {% comment %} <input type="password" id="password" required name="password" class="form-control"> {% endcomment %}
					            <label for="password">Old Password</label>
					        </div>
					        <div class="md-form pb-3">
					        	<i class="fas fa-lock prefix"></i>
					            {{ form.new_password1 }}
					            <label for="password">New Password</label>
					        </div>
					        <div class="md-form">
					        	<i class="fas fa-lock prefix"></i>
		    					{{ form.new_password2 }}
					            <label for="confirm_password">Confirm password</label>
					            <span id="message"></span>
<!-- 					            <p class="text-left mt-2 pt-2"><span style="cursor: pointer;" id="passText">Show Password <span class= 'fa fa-eye'></span></span></p> -->
		    				</div>
					        <center><div class="text-center align-items-center justify-content-center col-md-6 mb-3">
					            <button type="submit" name="change_password" id="btnChangePass" class="btn btn-md btn-block peach-gradient btn-rounded z-depth-1a">Save Password <i class="far fa-edit"></i></button>
					        </div></center>
						</form>
					</div>
				</div>
				
			</div>
		</div>
	</section>
</main>


<?php include "footer.php"; ?>
  <script>
    $(document).ready(function(){
    	$("#errorshow").hide();
    });

    function viewPassword(){
        var password = document.getElementById('password');
        var newpassword = document.getElementById('newpassword')
        var conPass = document.getElementById('conpassword');
        if (password.type == 'password') {
            password.type = 'text';
            conPass.type = 'text';
            newpassword.type = 'text';
            $('#passText').html("Hide Password <i class= 'fa fa-eye' aria-hidden='true'></i>");
        }else{
            password.type = 'password';
            conPass.type = 'password';
            newpassword.type = 'password';
            $('#passText').html("Show Password <i class= 'fa fa-eye-slash' aria-hidden='true'></i>");
        }
    }

    $('#passText').click(function(){
        viewPassword();
    });
        	
	$("form#changepassword").submit(function(e) {
	    e.preventDefault();    
	    var formData = new FormData(this);
	    $.ajax({
		    url: '../auth/changepasswordauth',
		    type: 'POST',
		    data: formData,
		    beforeSend:function(){
				$('#btnChangePass').html("Saving new password <span class='fa fa-1x fa-cog fa-spin'></span>");
			},
			success: function (data) {
				if (data == "edited") {
				    $('#btnChangePass').html("Successful!!");
				    $("#errorshow").show();
				    $("#errorshow").html("New Password Saved! Refreshing. <span class='fa fa-1x fa-cog fa-spin'></span>");
				    setTimeout(' window.location.href = "./"; ', 3000);
				}else{
					$("#errorshow").show();
					$("#errorshow").html(data);
				    $('#btnChangePass').html("Save Password");
				}   
			},
			cache: false,
			error:function(){
			  	$("#errorshow").show();
				$('#errorshow').html("An error has occured!!");
				$('#btnChangePass').html("Save Password");
			},
			contentType: false,
			processData: false
		});
	});



	// password matching function
    $('#confirm_password').on('keyup', function(){

    	if ($('#confirm_password').val() == $('#newpassword').val()) {
    		$('#message').html('Pasword Match').css('color','green');
    	} else {
    		$('#message').html('Pasword not Match').css('color','red');
    	}
    });
  </script>

  {% endblock content%}