<?php include "header-all.php"; ?>
<title>404 Error Page - Nacos DSPZ</title>
<style>
	#login .fas {
		font-size: 1.2rem;
	}
</style>
<div class="introCard mb-4" style="background-image: url(./images/background2.jpg); background-repeat: no-repeat; background-size: cover; background-position: center center; z-index: 0;">
	<div class="mask rgba-black-strong d-flex justify-content-center align-items-center h-45">
        <div class="container" style="padding-top: 10%; padding-bottom: 10%;">
        	<div class="col-md-12 mb-4 white-text text-center">
              <h1 class="display-7 title mt-md-5 mt-lg-0 font-weight-bold wow fadeIn" data-wow-delay="0.3s" style="visibility: visible; animation-name: fadeIn; animation-delay: 0.3s;">
                  <strong>ABOUT - NACOS DSPZ</strong>
                </h1>
              <hr class="hr-light my-4 wow fadeInDown" data-wow-delay="0.4s" style="visibility: visible; animation-name: fadeInDown; animation-delay: 0.4s;">
              <h5 class="text-uppercase mb-4 white-text wow fadeInDown" data-wow-delay="0.4s" style="visibility: visible; animation-name: fadeInDown; animation-delay: 0.4s;"><strong class="font-weight-bold"><i>Towards Advanced Computing</i></strong></h5>
            </div>
        </div>
    </div>
</div>
<main class="my-4 mx-3">
	<section class="mt-4">
		<div class="container wow fadeIn mt-5 mb-5" data-wow-delay="0.2s">
			<center>
				<h1 class="mt-5 mb-3 font-weight-bold">404 Page Not Found</h1>
				<a href="javascript:history.back()" class="mb-5 mt-2 btn btn-rounded btn-primary btn-block col-md-4">Go Back</a>
			</center>
		</div>
	</section>
</main>
<?php include "footer.php"; ?>
  <script>
    // Animation init
    new WOW().init();
  </script>