{% extends 'main.html' %}
{% load static %}
{% block content %}
<title>About - NACOS FPNO</title>
<main>
	<section class="mt-4">
		<div class="container wow fadeIn mt-5" data-wow-delay="0.2s">
		<h4 class="font-weight-bold">Our Mission</h4>
		<p align="justify" class="grey-text"><span class="fas fa-arrow-right"></span> To Become a network of committed Student IT Professionals determined to stimulate the technology, innovation and entrepreneurship scene in Nigeria.</p>
        <p align="justify" class="grey-text"><span class="fas fa-arrow-right"></span> To develop a vibrant ecosystem that drives digital inclusion across all tertiary Institutions, Governments, Enterprises and Citizens for the advancement of information technology in Nigeria.</p>
        <p align="justify" class="grey-text mb-5"><span class="fas fa-arrow-right"></span> To Become the most sort after Students Organization in terms of Information Technology and Entrepreneurship.</p>
        <hr class="mt-5">
        <h4 class="font-weight-bold">Our Aims and Objectives</h4>
		<p align="justify" class="grey-text">NACOS aims to re–orient the Nigerian youth and project the IT profession through Seminars, Lectures, Symposia, Workshops and other related activities. The intention appears to be the active and purposeful promotion of the study of IT and other positive forms of IT knowledge acquisition. NACOSS organizes capacity building exercises to enlighten the youths, the young people of Nigeria on how to become entrepreneurs using acquired IT skills and also to create platforms for neophytes, and gurus associated with the intriguing world of Information Technology to exhibit their products, services and software to businesses, industry and the public.</p>
        <p align="justify" class="grey-text"><span class="fas fa-arrow-right"></span> To serve both professional and public interests by fostering the open interchange of information and by promoting the highest professional and ethical standards.</p>
        <p align="justify" class="grey-text"><span class="fas fa-arrow-right"></span> To protect the image and safeguard the interest of the Computing profession.</p>
        <p align="justify" class="grey-text"><span class="fas fa-arrow-right"></span> To promote the understanding of the study of Computing in Nigeria and abroad.</p>
        <p align="justify" class="grey-text mb-5"><span class="fas fa-arrow-right"></span> To promote the computing profession by organizing seminars, symposia, webinars, computing contests, and other activities aimed at achieving this goal.</p>
         <hr class="mt-5">
        <h4 class="font-weight-bold">Our Aims and Objectives</h4>
		<p align="justify" class="grey-text">Through consistent and professional exposure, NACOSS provides an excellent foundation for Computer Scientists, Engineers and any IT related disciplines in Nigeria. Over the years, NACOSS has given to the economy and society the finest professionals in Information and Communications Technology ICT and is dedicated to doing even more in future.</p>
        <p align="justify" class="grey-text">A study of NACOSS activities indicates that it reveals IT career and entrepreneurship opportunities to the youth of Nigeria. It provides opportunities for them to explore and fulfill their potentials and become more competitive in the IT environment locally and globally. It is about equipping young people to become contributors and change agents in Nigeria through IT.</p>
        <p align="justify" class="grey-text mb-5"> When Nigeria youths are empowered and driven in the field of Computing and related areas, they drive change in Nigeria and Africa, and they change the face of IT.</p>
	        <hr>
	        <!-- Section heading -->
	        <h3 class="text-center title my-5 dark-grey-text font-weight-bold wow fadeIn" data-wow-delay="0.2s" style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;">
	          <strong>WHAT WE DO</strong>
	        </h3>

	        <!-- Grid row -->
	        <div class="row features-small wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-name: fadeIn; animation-delay: 0.4s;">
	          <div class="col-md-4">
	            <center><img src="{% static 'images/02.png' %}" class="img-fluid img-responsive">
	            <h4>Help Current Students/Members</h4></center>
	            <p>NACOS helps its current students and members acquire the best of what the emerging technology entails.</p>
	          </div>
	          <div class="col-md-4">
	            <center><img src="{% static 'images/04.png' %}" class="img-fluid img-responsive">
	            <h4>We Develop; We Build</h4></center>
	            <p>While helping our students and members to know more about emerging technology, we also ensure the development of their individual intellectual capability.</p>
	          </div>
	          <div class="col-md-4">
	            <center><img src="{% static 'images/03.png' %}" class="img-fluid img-responsive">
	            <h4>Build our Community</h4></center>
	            <p>Building the NACOS Community is one of the association's utmost concern because of the association intention of creating a vibrant ecosystem which will aid the advance of Information Technology in Nigeria.</p>
	          </div>
	        </div>
	        <!-- Grid row -->
        	<hr class="mt-5">
	        <center>
				<div class="col-md-4 mb-3">
	        	<div class="success-color card py-5 px-4">
	        		<span class="text-center mb-4 fas fa-gavel fa-4x white-text"></span>
	        		<a href="upload/NACOS NATIONAL rounded CONSTITUTION.pdf" class="btn btn-outline-white btn-block">Download Constitution</a>
	        	</div>
	        	</div>
			</center>
		</div>
	</section>
</main>

  <script>
    // Animation init
    new WOW().init();
  </script>
  
{% endblock content %}